<div class="footer">
  <div class="footer_container">
    <div class="footer_carrousel">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-05.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-06.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-07.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-08.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-09.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-04.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-03.jpg" alt="">
      <img src="https://www.colegioespiritusanto.edu.co/images/carousel/carousel-02.jpg" alt="">
    </div>

    <div class="footer_info">
      <div class="footer_about">
        <h3>Dirección</h3>
        <p>Calle 40 N° 7A–06, Barrio Kennedy</p>
        <p>Girardot - Cundinamarca</p>
        <p>Teléfono: (1) 833 5491</p>
        <p>E-mail: espiritusantom@hotmail.com</p>
      </div>

      <div class="footer_colaborations">
        <h3>Colaboradores</h3>
        <tr><td><a href="">CESMA, sede de los juegos</a></td></tr>
        <tr><td><a href="">Boletin Relem, sede de los juegos</a></td></tr>
        <tr><td><a href="">Boletin Internacional, sede de los juegos</a></td></tr>
      </div>

      <div class="footer_social">
        <h3>Redes Sociales</h3>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>

    </div>
  </div>
</div>
