<div class="institucion_content">

  <div class="institucion_container">

    <div class="institucion_mision">
      <h1>NUESTRA MISION</h1>
      <P
      >Formar personas en la fe según los principios y valores del carisma
      marianista, capaces de:</P
      >
      <ul>
        <li>
          Respetar la dignidad humana, vivir las debilidades, el dolor y el
          sufrimiento como partes irrenunciables de la existencia;
        </li>
        <li>Desarrollar todas sus dimensiones articuladas a su interioridad;</li>
        <li>Desarrollar todas sus dimensiones articuladas a su interioridad;</li>
        <li>
          Construir conocimientos y usarlos para fines nobles como el
          engrandecimiento de la cultura;
        </li>
        <li>Practicar la honestidad y la justicia;</li>
        <li>Contribuir a la consolidación de una cultura de paz;</li>
        <li>
          Trabajar comunitariamente y fomentar relaciones inclusivas y solidarias;
        </li>
        <li>
          Relacionarse con la diversidad y la diferencia mediante el diálogo, que
          lleva al encuentro transformador.
        </li>
      </ul>
    </div>

    <div class="institucion_vision">
      <h1>NUESTRA VISION</h1>
      <p>
        El Colegio Espíritu Santo Marianistas, ubicado en la ciudad de Girardot,
        se proyecta para el 2023 como una institución educativa católica líder en
        formación integral y de calidad, reflejada en:
      </p>
      <ul>
        <li>
          El Colegio Espíritu Santo Marianistas, ubicado en la ciudad de Girardot,
          se proyecta para el 2023 como una institución educativa católica líder
          en formación integral y de calidad, reflejada en:
        </li>
        <li>
          la vivencia de los principios de la Espiritualidad (FE, MARÍA,
          COMUNIDAD, MISIÓN) y la Pedagogía Marianista (Formación en la Fe,
          Educación integral y de calidad, Espíritu de familia, Educación para el
          servicio, la justicia y la paz, Adaptación al cambio);
        </li>
        <li>el cultivo del pensamiento autónomo, crítico y colaborativo;</li>
        <li>la educación emocional,</li>
        <li>
          l cuidado del cuerpo mediante el deporte y el arte (Escuelas deportivas
          y artísticas)
        </li>
      </ul>
    </div>

    <div class="institucion_historia">
      <h1>NUESTRA HISTORIA</h1>

      <strong>Guillermo José Chaminade</strong>
      <div class="institucion_content">
        <img
        src="https://www.colegioespiritusanto.edu.co/images/pages/guillermo_jose_chaminade.jpg"
        alt=""
        />
        <p>
          El fundador de los marianistas nació en 1761 en Périgueux, cerca de
          Burdeos (Francia). Guillermo José pertenecía a una familia numerosa de
          la pequeña burguesía de la época, con un profundo sentido religioso. A
          los diez años ingresa en el colegio –internado de Mussidan, de la
          institución San Carlos, que dirigía su hermano Juan Bautista, ya
          sacerdote. Terminado ya sus estudios de Filosofía y Teología regresa a
          este colegio ya ordenado sacerdote y trabaja como profesor y
          administrador. En 1789 estalló la Revolución Francesa. El estado
        confisca el colegio San Carlos y el P. Chaminade, tras haberse negado a
        jurar la Constitución Civil del Clero, decide ir a irse a Burdeos donde
        ejercerá su ministerio sacerdotal en la clandestinidad, poniendo su vida
        en continuo peligro. En 1789 fue desterrado y huyó a Zaragoza, donde
        permaneció durante tres años. Allí, junto a la virgen de pilar, fue
        madurando su proyecto misionero.
      </p>
    </div>
  </div>

  <div class="institucion_creencias">
    <h1>CREENCIAS</h1>
    <div class="content_creencias">
      <strong>Desde la adaptación al cambio</strong>
      <p>Creemos que como Educación Marianista estamos abiertos a los signos de los tiempos para transformar realidades sociales.</p>
    </div>
    <div class="content_creencias">
      <strong>Desde la adaptación al cambio</strong>
      <p>Creemos que como Educación Marianista estamos abiertos a los signos de los tiempos para transformar realidades sociales.</p>
    </div>
    <div class="content_creencias">
      <strong>Desde la adaptación al cambio</strong>
      <p>Creemos que como Educación Marianista estamos abiertos a los signos de los tiempos para transformar realidades sociales.</p>
    </div>
    <div class="content_creencias">
      <strong>Desde la adaptación al cambio</strong>
      <p>Creemos que como Educación Marianista estamos abiertos a los signos de los tiempos para transformar realidades sociales.</p>
    </div>
  </div>

</div>

</div>
