.materia_container{
  display: flex;
  justify-content: center;
  background-color: #e3f3f3;
  .materia{
    width: 50%;
    margin-block-start: 2rem;
    .materia_search{
      display: flex;
      align-items: center;
      border: 1px solid rgb(211, 207, 207);
      border-radius: .5em;
      background-color: white;
      p{
        font-size: 1.1rem;
        color: gray;
        margin-inline-end: 1rem;
        font-weight: 400;
      }
      button{
        height: 1.8rem;
        margin-inline-start: .2rem;
        background-color: #89a5a5;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: .3em;
      }
      input{
        padding: .4rem;
        border-radius: .3em;
        border: 1px solid grey;
        outline:  none;
      }
    }
  }
}

.boletin_escolar{
  padding-block: 1rem;
  display: flex;
  background-color: #e3f3f3;
  justify-content: center;
  .boletin_container{
    background-color: rgb(240, 240, 254);
    display: grid;
    grid-template: repeat(1fr, 2);
    width: 40%;
    border-radius: .5em;
    border: 1px solid #bbb8e3;

    .boletin_content{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      padding: 1rem;
      h1{
        text-align: center;
        color: #8983e2;
      }
      p{
        color: #f87b49;
        border-bottom: 1px solid #f87b49;
      }
    }
    .boletin_notas{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding: 1rem;
      div{
        display: flex;
        justify-content: space-between;
        p{
          color: #8983e2;
          font-size: 1.1rem;
          width: 20%;
          border-bottom: 1px solid;
          text-align: center;
        }:nth-child(1){
          text-align: start;
          width: 75%;
        }
      }
    }
    .boletin_aside{
      padding-inline: 1rem;
      background-color: #bbb8e3;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      padding-block: 2rem;
      textarea{
        font-size: .9rem;
        border: none;
        resize: none;
        outline: none;
        border-radius: .3em;
        background-color: rgb(214, 214, 254);
      }
      .boletin_info_nota{
        p{
          text-align: center;
          color: #213a3a;
          font-size: 1.1rem;
        }
      }
    }
  }
}
.boletin_botton{
  background-color: #e3f3f3;
  display: flex;
  justify-content: center;
  .bottom{
    width: 40%;
    button{
      padding: .5rem;
      border: none;
      border-radius: .3rem;
      background-color: #f87b49;
      color: white;
      cursor: pointer;
    }
  }
}
