.table_notas{
  display: flex;
  justify-content: center;
  background-color: #e3f3f3;
  padding-block-start: 2rem;
}

table {
  background-color: rgb(255, 255, 255);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;

  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    :nth-child(2){
      i{
        color: rgb(6, 141, 6);
      }
    }
    :nth-child(3){
    i{
      color: rgb(231, 82, 23);
    }
  }
  button{
    background-color:  transparent;
    border: none;
    cursor: pointer;
    margin-inline-start: 1rem;
    i{
      color: blue;
      font-size: 1.4rem;
    }

  }
}
tr:nth-child(even) {
  background-color: #dddddd;
}
}

