<div class="home_content">

  <div class="home_carrousel">
    <div class="home_carrousel_imgs">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="https://www.colegioespiritusanto.edu.co/images/slider/julio_2019/4.jpg" alt=""></ng-template>
        <ng-template carouselSlide>
          <img src="https://www.colegioespiritusanto.edu.co/images/slider/julio_2019/2.jpg" alt=""></ng-template>
        <ng-template carouselSlide>
          <img src="https://www.colegioespiritusanto.edu.co/images/slider/julio_2019/3.jpg" alt=""></ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <div class="home_youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zsjJvN7rWco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="home_table">
    <h2>Calendario Oficial</h2>
    <table>
      <tr><td>sábado, 3 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
      <tr><td>sábado, 5 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
      <tr><td>sábado, 5 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
      <tr><td>sábado, 5 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
      <tr><td>sábado, 5 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
      <tr><td>sábado, 5 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
      <tr><td>sábado, 5 de septiembre</td></tr>
      <tr><td>SABER 11</td></tr>
    </table>
    <div class="home_table_pqrs">
      <h3>PQRS:</h3>
      <p>Realiza aquí tus quejas, reclamos, sugerencias y/o felicitaciones.</p>
      <button>Encuesta</button>
    </div>
    <div class="home_table_pqrs">
      <h3>Boletín Informativo:</h3>
      <p>ENTRELETRAS 01 - 2018</p>
      <button>Leer Mas</button>
    </div>
  </div>

</div>
